<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <tr th:each="player, iter : ${players}">
        <td th:text="${iter.count}">%number%</td>
        <td>
            <label th:for="${player.player}" th:text="${player.player}">%team%</label>
        </td>
        <td><label>
            <input name="selection" th:checked="${bombardier == player.player ? true : false}"
                   th:disabled="${isBlocked} ? true" th:id="${player.player}"
                   th:value="${player.player}" type="radio">
        </label></td>
    </tr>
    <th:block th:include="button" th:remove="tag"></th:block>
</th:block>