<tr th:each="team, iter : ${teams}" xmlns:th="http://www.w3.org/1999/xhtml">
    <td th:text="${iter.count}">%number%</td>
    <td>
        <!--        <img th:src="'https://football.kulichki.net/euro/gif/' + ${team.img} + '.gif'" th:alt="${team.teams}" alt="">-->
        <label th:for="${team.teams}" th:text="${team.teams}">%team%</label>
    </td>
    <td><label>
        <input name="selection" th:checked="(${champion} == *{team.teams})" th:disabled="${isBlocked} ? true"
               th:id="${team.teams}"
               th:value="${team.teams}" type="radio">
    </label></td>
</tr>
<th:block th:include="button" th:remove="tag" xmlns:th="http://www.w3.org/1999/xhtml"></th:block>