<tr xmlns:th="http://www.w3.org/1999/xhtml">
    <td colspan="9" th:text="${t.key}">%party_id%</td>
</tr>
<tr>
    <td>Место</td>
    <td>Команда</td>
    <td>И</td>
    <td>В</td>
    <td>Н</td>
    <td>П</td>
    <td>М</td>
    <td>О</td>
</tr>
<tr xmlns:th="http://www.w3.org/1999/xhtml" th:each="d : ${t.value}">
    <td th:text="${d.position}">%places%</td>
    <td>
        <div class="group">
            <img alt="" src="" th:alt="${d.team.teams}"
                 th:src="'https://football.kulichki.net/trans/flags/' + ${d.team.img}">
            <span th:text="${d.team.teams}"></span>
        </div>
    </td>
    <td th:text="${d.games}">%games%</td>
    <td th:text="${d.win}">%win%</td>
    <td th:text="${d.draw}">%draw%</td>
    <td th:text="${d.loss}">%loss%</td>
    <td th:text="${d.goalsScored} + '-' + ${d.goalsMissed}">%goals%</td>
    <td th:text="${d.points}">%points%</td>
</tr>