<!DOCTYPE html>
<html lang="ru" th:with="baseUrl=(${url})" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" http-equiv="refresh"/>
    <meta content="no-cache" http-equiv="Cache-Control">

    <link rel=" shortcut icon" th:href="${baseUrl} + @{images/ico.ico}" type="image/x-icon"/>

    <link rel="stylesheet" th:href="${baseUrl} + @{styles/style.css}"/>
    <link rel="stylesheet" th:href="${baseUrl} + @{styles/button.css}"/>

    <title th:text="${title}"></title>
</head>
<body>
<header class="nav-justified">
    <div class="col-12 pr-0" th:if="${!header.empty}" th:insert="${header}"></div>
</header>
<main class="d-flex flex-column">
    <div class="center col-12 d-flex flex-column justify-content-center">
        <p class="messages" th:classappend="${message.empty} ? d-none" th:text="${!message.empty ? message : ''}"></p>
        <th:block th:include="${center}"><span></span></th:block>
    </div>
</main>
<footer>
    <p id="back-top"><a href="#top"></a></p>
    <p style="color: black; background: white" th:text="${date}"></p>
    <img alt="" class="loader" src="" th:src="${baseUrl} + @{images/loader.gif}"/>
</footer>
<div class="overlay"></div>
<script th:src="${baseUrl} + @{js/jquery-3.3.1.min.js}"></script>
<script th:src="${baseUrl} + @{bootstrap/js/popper.min.js}"></script>
<script th:src="${baseUrl} + @{bootstrap/js/bootstrap.min.js}"></script>
<script th:src="${baseUrl} + @{js/js.js}"></script>
<script th:src="${baseUrl} + @{js/button.js}"></script>
</body>
</html>