<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between align-items-start"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <a href="/" class="navbar-brand logo">
        <img th:src="${baseUrl} + @{images/logo.png}" alt="logo" src=""/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" th:each="n : ${navigation}" th:classappend="${n.value[0].title != ''} ?  dropdown">
                <div th:replace="${n.value[0].title != ''} ? ~{fragments/nav :: nav-link-dropdown} : ~{fragments/nav :: nav-link}"></div>
            </li>
            <th:block th:if="${isActive}">
                <li>
                    <form action="/logout" method="POST">
                        <button class="logout" type="submit">Выйти</button>
                    </form>
                </li>
            </th:block>
        </ul>
    </div>
</nav>