<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <td colspan="9">
        <span>Кто пройдёт в 1/2  финала. Осталось выбрать <span class=change_1_2 th:text="${4 - teamsSemi.size()}"></span></span>
    </td>
    <tr>
        <span th:each="a : ${#numbers.sequence(0, 3)}" th:include="next-head-td" th:remove="tag"
              th:with="col = ${a == 3 ? 2 : ''}"></span>
    </tr>
    <tr th:each="a : ${#numbers.sequence(0, 1)}" th:with="tour=2">
        <th:block th:include="next-head-tr"  th:each="b : ${#numbers.sequence(0, 3)}">block</th:block>
    </tr>
    <!--    <th:block th:include="${button}">button</th:block>-->
</th:block>