                                    <th:block  xmlns:th="http://www.w3.org/1999/xhtml">
                                    <tr>
                                        <td colspan="9" th:text="${t.party}">%group%</td>
                                    </tr>
                                    <tr th:if="${!isBlocked}">
                                        <td colspan="15">
                                            <button    xmlns:th="http://www.w3.org/1999/xhtml" title="" name="default" th:onclick="'javascript:btn_default(' + ${i.count} + ')'" type="button">Сбросить позиции в группе</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Команда</td>
                                        <td>Позиция</td>
                                        <td th:if="${unClock}">Позиция</td>
                                        <td th:if="${unClock}">Очки</td>
                                    </tr>
                                    <div xmlns:th="http://www.w3.org/1999/xhtml" th:include="placing-body-tr" th:each="tr, iter : ${t.teams}" th:remove="tag"></div>
                                    </th:block>