<tr th:classappend="${userActive == user.usr} ? active : ''" th:each="user, iter : ${users}"
    xmlns:th="http://www.w3.org/1999/xhtml">
    <td th:text="${iter.count}">%number%</td>
    <td th:text="${user.usr.firstName + ' ' + user.usr.lastName}">%user%</td>
    <td th:text="${user.score}">%score%</td>
    <td th:text="${user.difference}">%difference%</td>
    <td th:text="${user.winner}">%winner%</td>
    <td th:text="${user.teamPlacingTeam}">%place%</td>
    <td th:text="${user.prognosis_1_4}">%prognosis_1_4%</td>
    <td th:text="${user.prognosis_1_2}">%prognosis_1_2%</td>
    <td th:text="${user.prognosisPlayoff}">%po%</td>
    <td th:text="${user.champion}">%champion%</td>
    <td th:text="${user.bombardier}">%bombardier%</td>
    <td th:text="${user.points}">%points%</td>
</tr>