<tr th:classappend="${userActive == user.usr} ? active : ''" th:each="user, iter : ${users}"
    xmlns:th="http://www.w3.org/1999/xhtml">
    <td>
        <p class="rating">
            <span th:text="${iter.count}"></span>
            <th:block th:with="pos = ${user.positionBefore - user.positionNow}">
                <th:block th:if="${pos != 0}">
                    <span class="ratingLeft">(</span>
                    <img alt="" class="arrow up" src="" th:if="${pos > 0}" th:src="${baseUrl} + @{images/up.png}">
                    <img alt="" class="arrow" src="" th:if="${pos < 0}" th:src="${baseUrl} + @{images/down.png}">
                    <span class="ratingRight" th:text="${T(Math).abs(pos) + ')'}">2)</span>
                </th:block>
            </th:block>
        </p>
    </td>
    <td th:text="${user.usr.firstName + ' ' + user.usr.lastName}">%user%</td>
    <td th:text="${user.score}">%score%</td>
    <td th:text="${user.difference}">%difference%</td>
    <td th:text="${user.winner}">%winner%</td>
    <td th:text="${user.teamPlacingTeam}">%place%</td>
    <td th:text="${user.prognosis_1_4}">%prognosis_1_4%</td>
    <td th:text="${user.prognosis_1_2}">%prognosis_1_2%</td>
    <td th:text="${user.prognosisPlayoff}">%po%</td>
    <td th:text="${user.champion}">%champion%</td>
    <td th:text="${user.bombardier}">%bombardier%</td>
    <td th:text="${day_points[iter.index].points}">%bombardier%</td>
    <td th:text="${user.points}">%points%</td>
</tr>