<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <tr>
        <td><label>Тестирование</label></td>
        <td><label><input type="text" id="testing" th:value="${config.testing}"/></label></td>
    </tr>
    <tr>
        <td><label>Старт кубка</label></td>
        <td><label><input type="text" id="cupStart" th:value="${config.cupStart}"/></label></td>
    </tr>
    <tr>
        <td><label>Конец групп</label></td>
        <td><label><input type="text" id="cupGroupsEnd" th:value="${config.cupGroupsEnd}"/></label></td>
    </tr>
    <tr>
        <td><label>Старт 1/4</label></td>
        <td><label><input type="text" id="cupFourStart" th:value="${config.cupFourStart}"/></label></td>
    </tr>
    <tr>
        <td><label>Конец 1/4</label></td>
        <td><label><input type="text" id="cupFourEnd" th:value="${config.cupFourEnd}"/></label></td>
    </tr>
    <tr>
        <td><label>Старт 1/8</label></td>
        <td><label><input type="text" id="cupEightStart" th:value="${config.cupEightStart}"/></label></td>
    </tr>
    <tr>
        <td><label>Конец 1/8</label></td>
        <td><label><input type="text" id="cupEightEnd" th:value="${config.cupEightEnd}"/></label></td>
    </tr>
    <tr>
        <td><label>Конец кубка</label></td>
        <td><label><input type="text" id="cupEnd" th:value="${config.cupEnd}"/></label></td>
    </tr>
    <tr>
        <td><label>Время до начала матча</label></td>
        <td><label><input type="text" id="cupTimePreview" th:value="${config.cupTimePreview}"/></label></td>
    </tr>
    <tr>
        <td><label>Время начала показа сайта</label></td>
        <td><label><input type="text" id="timeStartSiteShow" th:value="${config.timeStartSiteShow}"/></label></td>
    </tr>
    <tr>
        <td><label>Время окончания показа сайта</label></td>
        <td><label><input type="text" id="timeEndSiteShow" th:value="${config.timeEndSiteShow}"/></label></td>
    </tr>
    <tr>
        <td><label>Время теста сейчас</label></td>
        <td><label><input type="text" id="timeTestNow" th:value="${config.timeTestNow}"/></label></td>
    </tr>
    <tr>
        <td><label>Время старта теста</label></td>
        <td><label><input type="text" id="timeTestStart" th:value="${config.timeTestStart}"/></label></td>
    </tr>

    <tr>
        <td><label>Очки за бомбардира</label></td>
        <td><label><input type="text" id="bombardierPoints" th:value="${config.bombardierPoints}"/></label></td>
    </tr>
    <tr>
        <td><label>Очки за чемпиона</label></td>
        <td><label><input type="text" id="championPoints" th:value="${config.championPoints}"/></label></td>
    </tr>
    <tr>
        <td><label>Очки за счет</label></td>
        <td><label><input type="text" id="score" th:value="${config.score}"/></label></td>
    </tr>
    <tr>
        <td><label>Очки за разницу</label></td>
        <td><label><input type="text" id="difference" th:value="${config.difference}"/></label></td>
    </tr>
    <tr>
        <td><label>Очки за победителя</label></td>
        <td><label><input type="text" id="winner" th:value="${config.winner}"/></label></td>
    </tr>
    <tr>
        <td><label>Очки за место</label></td>
        <td><label><input type="text" id="place" th:value="${config.place}"/></label></td>
    </tr>
    <tr>
        <td><label>Очки за счет в playoff</label></td>
        <td><label><input type="text" id="scorePO" th:value="${config.scorePO}"/></label></td>
    </tr>
    <tr>
        <td><label>Очки за разницу в playoff</label></td>
        <td><label><input type="text" id="differencePO" th:value="${config.differencePO}"/></label></td>
    </tr>
    <tr>
        <td><label>Очки за победителя в playoff</label></td>
        <td><label><input type="text" id="winnerPO" th:value="${config.winnerPO}"/></label></td>
    </tr>
    <tr>
        <td><label>Очки за переход в playoff</label></td>
        <td><label><input type="text" id="nextRoundPO" th:value="${config.nextRoundPO}"/></label></td>
    </tr>
    <tr>
        <td><label>Очки за выход в 1/4</label></td>
        <td><label><input type="text" id="prognosisQuarter" th:value="${config.prognosisQuarter}"/></label></td>
    </tr>
    <tr>
        <td><label>Очки за выход в 1/2</label></td>
        <td><label><input type="text" id="prognosisSemi" th:value="${config.prognosisSemi}"/></label></td>
    </tr>

    <tr>
        <td><label>Название</label></td>
        <td><label><input type="text" id="title" th:value="${config.title}"/></label></td>
    </tr>
    <tr>
        <td><label>URL бомбардиров</label></td>
        <td><label><input type="text" id="bombardier" th:value="${config.bombardier}"/></label></td>
    </tr>
    <tr>
        <td><label>URL календаря</label></td>
        <td><label><input type="text" id="calendar" th:value="${config.calendar}"/></label></td>
    </tr>
    <tr>
        <td><label>URL</label></td>
        <td><label><input type="text" id="host" th:value="${config.host}"/></label></td>
    </tr>
    <tr>
        <td><label>URL флагов</label></td>
        <td><label><input type="text" id="src" th:value="${config.src}"/></label></td>
    </tr>
    <tr>
        <td><label>URL команд</label></td>
        <td><label><input type="text" id="teams" th:value="${config.teams}"/></label></td>
    </tr>
    <tr>
        <td><label>URL чемпионата</label></td>
        <td><label><input type="text" id="url" th:value="${config.url}"/></label></td>
    </tr>
    <tr>
        <td><label>Год матчей</label></td>
        <td><label><input type="text" id="yearMatches" th:value="${config.yearMatches}"/></label></td>
    </tr>
    <tr xmlns:th="http://www.w3.org/1999/xhtml" th:if="${!isBlocked}">
        <td colspan="15">
            <button title="" th:name="${controller}" th:attr="onclick=|btn_${controller}()|" type="button"
                    th:text="${btn_title}">%btn_value%
            </button>
        </td>
    </tr>
</th:block>